<div class="py-4 mb-2">
  <h3 class="d-inline-block">Order Details</h3>

  <div class="float-right">
    <%= linkTo(ordersPath(), {class: "btn btn-info"}) { %>
      Back to all Orders
    <% } %>
    <%= linkTo(orderPath({ order_id: order.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
  <div class="card" style="width: 18rem;">
  <div class="card-header">
    Order ID: <%= order.ID %>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <strong>Quantity: </strong><%= order.Quantity %>
      </li>
      <li class="list-group-item">
          <strong>Item Description: </strong><%= order.Product.Description %>
      </li>
      <li class="list-group-item">
          <strong>Price: </strong><%= formatMoney(order.Product.Price) %>
      </li>
      <li class="list-group-item">
          <strong>Total: </strong><%= orderTotal(order.Product.Price, order.Quantity) %>
      </li>
  </ul>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
