body {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0 1rem;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.page {
  width: 80%;
  max-width: 1000px;
}

.page-section {
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid 1px;
}

.alert {
  margin: 1rem 0;
  padding: .5rem;
}

.alert-error {
  background: #FFBABA;
}

.alert-success {
  background: #98edb3;
}