<input type="file" #file style="display: none" (change)="onFileAdded()" />
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly">
    <h1 mat-dialog-title>Upload Sales CSV</h1>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn"
        (click)="addFile()">
        Select File
    </button>

    <mat-dialog-content fxFlexFill>
        <mat-list *ngIf="selectedFile">
            <mat-list-item>
                <h4 mat-line>{{selectedFile.name}}</h4>
                <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress | async">
                </mat-progress-bar>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>

    <mat-dialog-actions class="actions">
        <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">
            {{primaryButtonText}}
        </button>
    </mat-dialog-actions>
</div>