<div class="jumbotron jumbotron-fluid p-4 my-5">
    <div class="container">
        <h1 class="display-4 text-center">Sales Data Upload</h1>
        <p class="lead text-center">Use the form to upload a file to the sales database</p>
    </div>

    <div class="mx-auto" style="width:75%;">
    <%= form({action:"/upload", method:"POST", class:"input-group"}) { %>
        <div class="custom-file p-3 mx-2">
            <%= f.FileTag({name:"someFile", class:"custom-file-input", id:"customFile", aria-describedby:"submit-button"}) %>
            <label class="custom-file-label" for="customFile">Select a file to upload</label>
        </div>
        <div>
            <%= f.SubmitTag("Upload", {class:"btn text-light bg-dark mx-2", id:"submit-button"}) %>
        </div>
    <% } %>
    </div>
</div>

<div class="card w-75 text-center mx-auto">
  <div class="card-body">
    <h5 class="card-title">View existing sales data</h5>
    <p class="card-text">If you don't have any new data to upload, go straight
    to the sales data</p>
    <a href="/orders" class="btn btn-primary">View Orders</a>
  </div>
</div>

<script>
// name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

