.header {
    text-align: center;
}

.upload {
    text-align: center;
}

.sales-data{
    margin-left: auto;
    margin-right: auto;
}

.no-data{
    text-align: center;  
}

.total {
    text-align: center;
}


