<div class="py-4 mb-2">
  <h3 class="d-inline-block">Product Details</h3>

  <div class="float-right">
    <%= linkTo(productsPath(), {class: "btn btn-info"}) { %>
      Back to all Products
    <% } %>
    <%= linkTo(editProductPath({ product_id: product.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(productPath({ product_id: product.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
